/**
 * 12.0 Navigation
 */
/* line 7, ../../sources/sass/12.0.navigation.scss */
.navigation-top {
  background: #fff;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
}

/* line 16, ../../sources/sass/12.0.navigation.scss */
.navigation-top .wrap {
  max-width: 1000px;
  padding: 0;
}

/* line 21, ../../sources/sass/12.0.navigation.scss */
.navigation-top a {
  color: #222;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 28, ../../sources/sass/12.0.navigation.scss */
.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
  color: #767676;
}

/* line 33, ../../sources/sass/12.0.navigation.scss */
.main-navigation {
  clear: both;
  display: block;
}

/* line 38, ../../sources/sass/12.0.navigation.scss */
.main-navigation ul {
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0 1.5em;
  text-align: left;
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */
/* line 50, ../../sources/sass/12.0.navigation.scss */
.js .main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
  display: none;
}

/* line 57, ../../sources/sass/12.0.navigation.scss */
.main-navigation > div > ul {
  border-top: 1px solid #eee;
  padding: 0.75em 1.695em;
}

/* line 62, ../../sources/sass/12.0.navigation.scss */
.js .main-navigation.toggled-on > div > ul {
  display: block;
}

/* line 66, ../../sources/sass/12.0.navigation.scss */
.main-navigation ul ul {
  padding: 0 0 0 1.5em;
}

/* line 70, ../../sources/sass/12.0.navigation.scss */
.main-navigation ul ul.toggled-on {
  display: block;
}

/* line 74, ../../sources/sass/12.0.navigation.scss */
.main-navigation ul ul a {
  letter-spacing: 0;
  padding: 0.4em 0;
  position: relative;
  text-transform: none;
}

/* line 81, ../../sources/sass/12.0.navigation.scss */
.main-navigation li {
  border-bottom: 1px solid #eee;
  position: relative;
}

/* line 86, ../../sources/sass/12.0.navigation.scss */
.main-navigation li li,
.main-navigation li:last-child {
  border: 0;
}

/* line 91, ../../sources/sass/12.0.navigation.scss */
.main-navigation a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}

/* line 97, ../../sources/sass/12.0.navigation.scss */
.main-navigation a:hover {
  color: #767676;
}

/* Menu toggle */
/* line 103, ../../sources/sass/12.0.navigation.scss */
.menu-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  display: none;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 1px auto 2px;
  padding: 1em;
  text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */
/* line 121, ../../sources/sass/12.0.navigation.scss */
.js .menu-toggle {
  display: block;
}

/* line 125, ../../sources/sass/12.0.navigation.scss */
.main-navigation.toggled-on ul.nav-menu {
  display: block;
}

/* line 129, ../../sources/sass/12.0.navigation.scss */
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 136, ../../sources/sass/12.0.navigation.scss */
.menu-toggle:focus {
  outline: thin solid;
}

/* line 140, ../../sources/sass/12.0.navigation.scss */
.menu-toggle .icon {
  margin-right: 0.5em;
  top: -2px;
}

/* line 145, ../../sources/sass/12.0.navigation.scss */
.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
  display: none;
}

/* line 150, ../../sources/sass/12.0.navigation.scss */
.toggled-on .menu-toggle .icon-close {
  display: inline-block;
}

/* Dropdown Toggle */
/* line 156, ../../sources/sass/12.0.navigation.scss */
.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  display: block;
  font-size: 16px;
  right: -0.5em;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0.5em;
  position: absolute;
  text-shadow: none;
  top: 0;
}

/* line 173, ../../sources/sass/12.0.navigation.scss */
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: transparent;
}

/* line 178, ../../sources/sass/12.0.navigation.scss */
.dropdown-toggle:focus {
  outline: thin dotted;
}

/* line 182, ../../sources/sass/12.0.navigation.scss */
.dropdown-toggle.toggled-on .icon {
  -ms-transform: rotate(-180deg);
  /* IE 9 */
  -webkit-transform: rotate(-180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
}

/* Scroll down arrow */
/* line 190, ../../sources/sass/12.0.navigation.scss */
.site-header .menu-scroll-down {
  display: none;
}
