/**
 * 15.0 Multisite
 */
/* line 8, ../../sources/sass/15.0.multisite.scss */
.widecolumn {
  background-color: #fff;
  padding: 7.6923%;
}

/* line 13, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_register {
  width: auto;
}

/* line 17, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_alert {
  margin-bottom: 1.6em;
}

/* line 21, ../../sources/sass/15.0.multisite.scss */
.widecolumn form,
.widecolumn .mu_register form {
  margin-top: 0;
}

/* line 26, ../../sources/sass/15.0.multisite.scss */
.widecolumn h2 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.1538;
  margin-bottom: 0.9231em;
}

/* line 33, ../../sources/sass/15.0.multisite.scss */
.widecolumn p {
  margin: 1.6em 0;
}

/* line 37, ../../sources/sass/15.0.multisite.scss */
.widecolumn p + h2 {
  margin-top: 1.8462em;
}

/* line 41, ../../sources/sass/15.0.multisite.scss */
.widecolumn label,
.widecolumn .mu_register label {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}

/* line 54, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_register label {
  margin: 2em 0 0;
}

/* line 58, ../../sources/sass/15.0.multisite.scss */
.widecolumn #key,
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #blogname,
.widecolumn .mu_register #user_name {
  font-size: 16px;
  font-size: 1.6rem;
  width: 100%;
}

/* line 68, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_register #blogname {
  margin: 0;
}

/* line 72, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #user_name {
  margin: 0 0 0.375em;
}

/* line 78, ../../sources/sass/15.0.multisite.scss */
.widecolumn #submit,
.widecolumn .mu_register input[type="submit"] {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  width: 100%;
}

/* line 86, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_register .prefix_address,
.widecolumn .mu_register .suffix_address {
  font-size: inherit;
}

/* line 91, ../../sources/sass/15.0.multisite.scss */
.widecolumn .mu_register > :last-child,
.widecolumn form > :last-child {
  margin-bottom: 0;
}
