/**
 * 15.0 Widgets
 */
/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/
/* line 11, ../../sources/sass/15.0.widgets.scss */
#secondary {
  padding: 1em 0 2em;
}

/* line 15, ../../sources/sass/15.0.widgets.scss */
.widget {
  padding-bottom: 3em;
}

/* line 19, ../../sources/sass/15.0.widgets.scss */
h2.widget-title {
  color: #222;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

/* line 29, ../../sources/sass/15.0.widgets.scss */
.widget-title a {
  color: inherit;
}

/* widget forms */
/* line 35, ../../sources/sass/15.0.widgets.scss */
.widget select {
  width: 100%;
}

/* widget lists */
/* line 42, ../../sources/sass/15.0.widgets.scss */
.widget ul {
  list-style: none;
  margin: 0;
}

/* line 47, ../../sources/sass/15.0.widgets.scss */
.widget ul li {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0.5em 0;
}

/* line 53, ../../sources/sass/15.0.widgets.scss */
.widget ul li + li {
  margin-top: -1px;
}

/* line 57, ../../sources/sass/15.0.widgets.scss */
.widget ul li ul {
  margin: 0 0 -1px;
  padding: 0;
  position: relative;
}

/* line 63, ../../sources/sass/15.0.widgets.scss */
.widget ul li li {
  border: 0;
  padding-left: 24px;
  padding-left: 1.5rem;
}

/* Widget lists of links */
/* line 71, ../../sources/sass/15.0.widgets.scss */
.widget_top-posts ul li ul,
.widget_rss_links ul li ul,
.widget-grofile ul.grofile-links li ul,
.widget_pages ul li ul,
.widget_meta ul li ul {
  bottom: 0;
}

/* line 79, ../../sources/sass/15.0.widgets.scss */
.widget_nav_menu ul li li,
.widget_top-posts ul li,
.widget_top-posts ul li li,
.widget_rss_links ul li,
.widget_rss_links ul li li,
.widget-grofile ul.grofile-links li,
.widget-grofile ul.grofile-links li li {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

/* line 90, ../../sources/sass/15.0.widgets.scss */
.widget_rss ul li {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* widget markup */
/* line 97, ../../sources/sass/15.0.widgets.scss */
.widget .post-date,
.widget .rss-date {
  font-size: 0.81em;
}

/* Text widget */
/* line 104, ../../sources/sass/15.0.widgets.scss */
.widget_text {
  word-wrap: break-word;
}

/* RSS Widget */
/* line 110, ../../sources/sass/15.0.widgets.scss */
.widget_rss .widget-title .rsswidget:first-child {
  float: right;
}

/* line 114, ../../sources/sass/15.0.widgets.scss */
.widget_rss .widget-title .rsswidget:first-child:hover {
  background-color: transparent;
}

/* line 118, ../../sources/sass/15.0.widgets.scss */
.widget_rss .widget-title .rsswidget:first-child img {
  display: block;
}

/* line 122, ../../sources/sass/15.0.widgets.scss */
.widget_rss ul li {
  padding: 2.125em 0;
}

/* line 126, ../../sources/sass/15.0.widgets.scss */
.widget_rss ul li:first-child {
  border-top: none;
  padding-top: 0;
}

/* line 131, ../../sources/sass/15.0.widgets.scss */
.widget_rss li .rsswidget {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.4;
}

/* line 138, ../../sources/sass/15.0.widgets.scss */
.widget_rss .rss-date,
.widget_rss li cite {
  color: #767676;
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.18em;
  line-height: 1.5;
  text-transform: uppercase;
}

/* line 151, ../../sources/sass/15.0.widgets.scss */
.widget_rss .rss-date {
  margin: 0.5em 0 1.5em;
  padding: 0;
}

/* line 156, ../../sources/sass/15.0.widgets.scss */
.widget_rss .rssSummary {
  margin-bottom: 0.5em;
}

/* Contact Info Widget */
/* line 162, ../../sources/sass/15.0.widgets.scss */
.widget_contact_info .contact-map {
  margin-bottom: 0.5em;
}

/* Gravatar */
/* line 168, ../../sources/sass/15.0.widgets.scss */
.widget-grofile h4 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0;
}

/* Recent Comments */
/* line 176, ../../sources/sass/15.0.widgets.scss */
.widget_recent_comments table,
.widget_recent_comments th,
.widget_recent_comments td {
  border: 0;
}

/* Recent Posts widget */
/* line 184, ../../sources/sass/15.0.widgets.scss */
.widget_recent_entries .post-date {
  display: block;
}

/* Search */
/* line 190, ../../sources/sass/15.0.widgets.scss */
.search-form {
  position: relative;
}

/* line 194, ../../sources/sass/15.0.widgets.scss */
.search-form .search-submit {
  bottom: 3px;
  padding: 0.5em 1em;
  position: absolute;
  right: 3px;
  top: 3px;
}

/* line 202, ../../sources/sass/15.0.widgets.scss */
.search-form .search-submit .icon {
  height: 24px;
  top: -2px;
  width: 24px;
}

/* Tag cloud widget */
/* line 210, ../../sources/sass/15.0.widgets.scss */
.tagcloud,
.widget_tag_cloud,
.wp_widget_tag_cloud {
  line-height: 1.5;
}

/* line 216, ../../sources/sass/15.0.widgets.scss */
.widget .tagcloud a,
.widget.widget_tag_cloud a,
.wp_widget_tag_cloud a {
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  float: left;
  font-size: 14px !important;
  /* !important to overwrite inline styles */
  font-size: 0.875rem !important;
  margin: 4px 4px 0 0 !important;
  padding: 4px 10px 5px !important;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  width: auto;
  word-wrap: break-word;
  z-index: 0;
}

/* line 236, ../../sources/sass/15.0.widgets.scss */
.widget .tagcloud a:hover,
.widget .tagcloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget.widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus {
  border-color: #bbb;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

/* Calendar widget */
/* line 250, ../../sources/sass/15.0.widgets.scss */
.widget_calendar th,
.widget_calendar td {
  text-align: center;
}

/* line 255, ../../sources/sass/15.0.widgets.scss */
.widget_calendar tfoot td {
  border: 0;
}
