/**
 * 17.0 Customizer
 */
/* line 7, ../../sources/sass/17.0.customizer.scss */
.highlight-front-sections.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel:after {
  border: 2px dashed #0085ba;
  /* Matches visible edit shortcuts. */
  bottom: 1em;
  content: "";
  display: block;
  left: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;
}

/* line 19, ../../sources/sass/17.0.customizer.scss */
.highlight-front-sections.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel .panel-content {
  z-index: 2;
  /* Prevent :after from preventing interactions within the section */
}

/* Used for placeholder text */
/* line 24, ../../sources/sass/17.0.customizer.scss */
.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel .twentyseventeen-panel-title {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3em;
  text-transform: uppercase;
  text-align: center;
}

/* Show borders on the custom page panels only when the front page sections are being edited */
/* line 36, ../../sources/sass/17.0.customizer.scss */
.highlight-front-sections.twentyseventeen-customizer.twentyseventeen-front-page .twentyseventeen-panel:nth-of-type(1):after {
  border: none;
}

/* line 40, ../../sources/sass/17.0.customizer.scss */
.twentyseventeen-front-page.twentyseventeen-customizer #primary article.panel-placeholder {
  border: 0;
}

/* Add some space around the visual edit shortcut buttons. */
/* line 45, ../../sources/sass/17.0.customizer.scss */
.twentyseventeen-panel .customize-partial-edit-shortcut button {
  top: 30px;
  left: 30px;
}

/* Ensure that placeholder icons are visible. */
/* line 51, ../../sources/sass/17.0.customizer.scss */
.twentyseventeen-panel .customize-partial-edit-shortcut-hidden:before {
  visibility: visible;
}
