/**
* 18.0 SVG Fallback
*/
/* line 7, ../../sources/sass/18.0.svgfallbacks.scss */
.svg-fallback {
  display: none;
}

/* line 11, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .svg-fallback {
  display: inline-block;
}

/* line 15, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .dropdown-toggle {
  padding: 0.5em 0 0;
  right: 0;
  text-align: center;
  width: 2em;
}

/* line 22, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .dropdown-toggle .svg-fallback.icon-angle-down {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  -ms-transform: rotate(180deg);
  /* IE 9 */
  transform: rotate(180deg);
}

/* line 32, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-angle-down {
  -webkit-transform: rotate(0);
  /* Chrome, Safari, Opera */
  -ms-transform: rotate(0);
  /* IE 9 */
  transform: rotate(0);
}

/* line 38, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .dropdown-toggle .svg-fallback.icon-angle-down:before {
  content: "\005E";
}

/* Social Menu fallbacks */
/* line 44, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .social-navigation a {
  background: transparent;
  color: #222;
  height: auto;
  width: auto;
}

/* Show screen reader text in some cases */
/* line 53, ../../sources/sass/18.0.svgfallbacks.scss */
.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
  clip: auto;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
  position: relative !important;
  /* overrides previous !important styles */
  width: auto;
}
