/**
 * 4.0 Elements
 */
/* line 8, ../../sources/sass/4.0.elements.scss */
hr {
  background-color: #eaeaea;
  background-color: rgba(51, 51, 51, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.6em;
}

/* line 16, ../../sources/sass/4.0.elements.scss */
ul,
ol {
  margin: 0 0 1.6em 1.3333em;
}

/* line 21, ../../sources/sass/4.0.elements.scss */
ul {
  list-style: disc;
}

/* line 25, ../../sources/sass/4.0.elements.scss */
ol {
  list-style: decimal;
}

/* line 29, ../../sources/sass/4.0.elements.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/* line 34, ../../sources/sass/4.0.elements.scss */
dl {
  margin-bottom: 1.6em;
}

/* line 38, ../../sources/sass/4.0.elements.scss */
dt {
  font-weight: bold;
}

/* line 42, ../../sources/sass/4.0.elements.scss */
dd {
  margin-bottom: 1.6em;
}

/* line 46, ../../sources/sass/4.0.elements.scss */
table,
th,
td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

/* line 53, ../../sources/sass/4.0.elements.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

/* line 62, ../../sources/sass/4.0.elements.scss */
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* line 69, ../../sources/sass/4.0.elements.scss */
th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}

/* line 74, ../../sources/sass/4.0.elements.scss */
td {
  border-width: 0 1px 1px 0;
}

/* line 78, ../../sources/sass/4.0.elements.scss */
th, td {
  padding: 0.4em;
}

/* line 82, ../../sources/sass/4.0.elements.scss */
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* line 90, ../../sources/sass/4.0.elements.scss */
figure {
  margin: 0;
}

/* line 94, ../../sources/sass/4.0.elements.scss */
del {
  opacity: 0.8;
}

/* Placeholder text color -- selectors need to be separate to work. */
/* line 100, ../../sources/sass/4.0.elements.scss */
::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
}

/* line 105, ../../sources/sass/4.0.elements.scss */
:-moz-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
}

/* line 110, ../../sources/sass/4.0.elements.scss */
::-moz-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */
}

/* line 116, ../../sources/sass/4.0.elements.scss */
:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
}
