/**
 * 6.0 Navigations
 */
/**
 * 6.1 Links
 */
/* line 12, ../../sources/sass/6.0.navigations.scss */
a {
  color: #333;
  text-decoration: none;
}

/* line 17, ../../sources/sass/6.0.navigations.scss */
a:hover,
a:focus {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

/**
 * 6.2 Menus
 */
/* line 28, ../../sources/sass/6.0.navigations.scss */
.main-navigation a {
  display: block;
  padding: 0.8em 0;
  position: relative;
  text-decoration: none;
}

/* line 35, ../../sources/sass/6.0.navigations.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
}

/* line 40, ../../sources/sass/6.0.navigations.scss */
.main-navigation ul ul {
  display: none;
  margin-left: 0.8em;
}

/* line 45, ../../sources/sass/6.0.navigations.scss */
.main-navigation ul .toggled-on {
  display: block;
}

/* line 49, ../../sources/sass/6.0.navigations.scss */
.main-navigation li {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  position: relative;
}

/* line 55, ../../sources/sass/6.0.navigations.scss */
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
  font-weight: 700;
}

/* line 60, ../../sources/sass/6.0.navigations.scss */
.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
  border-top: 0;
}

/* line 65, ../../sources/sass/6.0.navigations.scss */
.main-navigation .menu-item-has-children > a {
  padding-right: 48px;
}

/* line 69, ../../sources/sass/6.0.navigations.scss */
.main-navigation .menu-item-description {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0.5em;
}

/* line 80, ../../sources/sass/6.0.navigations.scss */
.no-js .main-navigation ul ul {
  display: block;
}

/* line 84, ../../sources/sass/6.0.navigations.scss */
.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  height: 42px;
  padding: 0;
  position: absolute;
  text-transform: lowercase;
  /* Stop screen readers to read the text as capital letters */
  top: 3px;
  right: 0;
  width: 42px;
}

/* line 100, ../../sources/sass/6.0.navigations.scss */
.dropdown-toggle:after {
  color: #333;
  content: "\f431";
  font-size: 24px;
  line-height: 42px;
  position: relative;
  top: 0;
  left: 1px;
  width: 42px;
}

/* line 111, ../../sources/sass/6.0.navigations.scss */
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: #eaeaea;
  background-color: rgba(51, 51, 51, 0.1);
}

/* line 117, ../../sources/sass/6.0.navigations.scss */
.dropdown-toggle:focus {
  outline: 1px solid #c1c1c1;
  outline: 1px solid rgba(51, 51, 51, 0.3);
}

/* line 122, ../../sources/sass/6.0.navigations.scss */
.dropdown-toggle.toggle-on:after {
  content: "\f432";
}

/* line 126, ../../sources/sass/6.0.navigations.scss */
.social-navigation {
  margin: 9.0909% 0;
}

/* line 130, ../../sources/sass/6.0.navigations.scss */
.social-navigation ul {
  list-style: none;
  margin: 0 0 -1.6em 0;
}

/* line 135, ../../sources/sass/6.0.navigations.scss */
.social-navigation li {
  float: left;
}

/* line 139, ../../sources/sass/6.0.navigations.scss */
.social-navigation a {
  display: block;
  height: 3.2em;
  position: relative;
  width: 3.2em;
}

/* line 146, ../../sources/sass/6.0.navigations.scss */
.social-navigation a:before {
  content: "\f415";
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 154, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="codepen.io"]:before {
  content: "\f216";
}

/* line 158, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="digg.com"]:before {
  content: "\f221";
}

/* line 162, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="dribbble.com"]:before {
  content: "\f201";
}

/* line 166, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="dropbox.com"]:before {
  content: "\f225";
}

/* line 170, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="facebook.com"]:before {
  content: "\f203";
}

/* line 174, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="flickr.com"]:before {
  content: "\f211";
}

/* line 178, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="foursquare.com"]:before {
  content: "\f226";
}

/* line 182, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="plus.google.com"]:before {
  content: "\f206";
}

/* line 186, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="github.com"]:before {
  content: "\f200";
}

/* line 190, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="instagram.com"]:before {
  content: "\f215";
}

/* line 194, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="linkedin.com"]:before {
  content: "\f208";
}

/* line 198, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="pinterest.com"]:before {
  content: "\f210";
}

/* line 202, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="getpocket.com"]:before {
  content: "\f224";
}

/* line 206, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="polldaddy.com"]:before {
  content: "\f217";
}

/* line 210, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="reddit.com"]:before {
  content: "\f222";
}

/* line 214, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="stumbleupon.com"]:before {
  content: "\f223";
}

/* line 218, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="tumblr.com"]:before {
  content: "\f214";
}

/* line 222, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="twitter.com"]:before {
  content: "\f202";
}

/* line 226, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="vimeo.com"]:before {
  content: "\f212";
}

/* line 230, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
  content: "\f205";
}

/* line 235, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="youtube.com"]:before {
  content: "\f213";
}

/* line 239, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="mailto:"]:before {
  content: "\f410";
}

/* line 243, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="spotify.com"]:before {
  content: "\f515";
}

/* line 247, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="twitch.tv"]:before {
  content: "\f516";
}

/* line 251, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href$="/feed/"]:before {
  content: "\f413";
}

/* line 255, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="path.com"]:before {
  content: "\f219";
}

/* line 259, ../../sources/sass/6.0.navigations.scss */
.social-navigation a[href*="skype.com"]:before {
  content: "\f220";
}

/* line 263, ../../sources/sass/6.0.navigations.scss */
.secondary-toggle {
  background-color: transparent;
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  height: 42px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 42px;
}

/* line 280, ../../sources/sass/6.0.navigations.scss */
.secondary-toggle:before {
  color: #333;
  content: "\f419";
  line-height: 40px;
  width: 40px;
}

/* line 287, ../../sources/sass/6.0.navigations.scss */
.secondary-toggle:hover,
.secondary-toggle:focus {
  background-color: transparent;
  border: 1px solid #c1c1c1;
  border: 1px solid rgba(51, 51, 51, 0.3);
  outline: 0;
}

/* line 295, ../../sources/sass/6.0.navigations.scss */
.secondary-toggle.toggled-on:before {
  content: "\f405";
  font-size: 32px;
  position: relative;
  top: 1px;
  left: -1px;
}

/* line 303, ../../sources/sass/6.0.navigations.scss */
.post-navigation {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  font-weight: 700;
}

/* line 310, ../../sources/sass/6.0.navigations.scss */
.post-navigation a {
  display: block;
  padding: 3.8461% 7.6923%;
}

/* line 315, ../../sources/sass/6.0.navigations.scss */
.post-navigation span {
  display: block;
}

/* line 319, ../../sources/sass/6.0.navigations.scss */
.post-navigation .meta-nav {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  line-height: 1.5;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

/* line 332, ../../sources/sass/6.0.navigations.scss */
.post-navigation .post-title {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
  position: relative;
  z-index: 2;
}

/* line 341, ../../sources/sass/6.0.navigations.scss */
.post-navigation .nav-next,
.post-navigation .nav-previous {
  background-position: center;
  background-size: cover;
  position: relative;
}

/* line 348, ../../sources/sass/6.0.navigations.scss */
.post-navigation a:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* line 359, ../../sources/sass/6.0.navigations.scss */
.post-navigation a:hover:before,
.post-navigation a:focus:before {
  opacity: 0.5;
}

/* line 364, ../../sources/sass/6.0.navigations.scss */
.post-navigation .meta-nav {
  opacity: 0.8;
}

/* line 368, ../../sources/sass/6.0.navigations.scss */
.post-navigation div + div {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

/* line 373, ../../sources/sass/6.0.navigations.scss */
.pagination {
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  font-family: "Noto Sans", sans-serif;
}

/* line 379, ../../sources/sass/6.0.navigations.scss */
.pagination .nav-links {
  min-height: 3.2em;
  position: relative;
  text-align: center;
}

/* reset screen-reader-text */
/* line 386, ../../sources/sass/6.0.navigations.scss */
.pagination .current .screen-reader-text {
  position: static !important;
}

/* line 390, ../../sources/sass/6.0.navigations.scss */
.pagination .page-numbers {
  display: none;
  line-height: 3.2em;
  padding: 0 0.6667em;
}

/* line 396, ../../sources/sass/6.0.navigations.scss */
.pagination .page-numbers.current {
  text-transform: uppercase;
}

/* line 400, ../../sources/sass/6.0.navigations.scss */
.pagination .current {
  display: inline-block;
  font-weight: 700;
}

/* line 405, ../../sources/sass/6.0.navigations.scss */
.pagination .prev,
.pagination .next {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  background-color: #333;
  color: #fff;
  display: inline-block;
  height: 48px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 48px;
}

/* line 418, ../../sources/sass/6.0.navigations.scss */
.pagination .prev:before,
.pagination .next:before {
  font-size: 32px;
  height: 48px;
  line-height: 48px;
  position: relative;
  width: 48px;
}

/* line 427, ../../sources/sass/6.0.navigations.scss */
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
  background-color: #707070;
  background-color: rgba(51, 51, 51, 0.7);
}

/* line 435, ../../sources/sass/6.0.navigations.scss */
.pagination .prev {
  left: 0;
}

/* line 439, ../../sources/sass/6.0.navigations.scss */
.pagination .prev:before {
  content: "\f430";
  left: -1px;
}

/* line 444, ../../sources/sass/6.0.navigations.scss */
.pagination .next {
  right: 0;
}

/* line 448, ../../sources/sass/6.0.navigations.scss */
.pagination .next:before {
  content: "\f429";
  right: -1px;
}

/* line 453, ../../sources/sass/6.0.navigations.scss */
.image-navigation,
.comment-navigation {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

/* line 465, ../../sources/sass/6.0.navigations.scss */
.image-navigation a,
.comment-navigation a {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

/* line 471, ../../sources/sass/6.0.navigations.scss */
.image-navigation a:hover,
.image-navigation a:focus,
.comment-navigation a:hover,
.comment-navigation a:focus {
  color: #333;
}

/* line 478, ../../sources/sass/6.0.navigations.scss */
.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
  display: inline-block;
}

/* line 485, ../../sources/sass/6.0.navigations.scss */
.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
  content: "\2215";
  font-weight: 400;
  margin: 0 0.7em;
}

/* line 492, ../../sources/sass/6.0.navigations.scss */
.image-navigation .nav-previous a:before,
.comment-navigation .nav-previous a:before {
  content: "\f430";
  margin-right: 0.2em;
  position: relative;
}

/* line 499, ../../sources/sass/6.0.navigations.scss */
.image-navigation .nav-next a:after,
.comment-navigation .nav-next a:after {
  content: "\f429";
  margin-left: 0.2em;
  position: relative;
}

/* line 506, ../../sources/sass/6.0.navigations.scss */
.comment-navigation {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  border-bottom: 1px solid #eaeaea;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding: 2em 0;
}

/* line 514, ../../sources/sass/6.0.navigations.scss */
.comments-title + .comment-navigation {
  border-bottom: 0;
}

/* line 518, ../../sources/sass/6.0.navigations.scss */
.image-navigation {
  padding: 0 7.6923%;
}

/* line 522, ../../sources/sass/6.0.navigations.scss */
.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty) {
  margin-bottom: 2em;
}
