/**
* Page Layout
**/
/* line 6, ../../sources/sass/layout-styles.scss */
nav {
  top: 40px;
  position: relative;
  z-index: 9999 !important;
  width: 100% !important;
}
/* line 12, ../../sources/sass/layout-styles.scss */
nav .logo {
  font-size: 14px;
}
/* line 16, ../../sources/sass/layout-styles.scss */
nav .navbar-toggle .icon-bar {
  width: 36px !important;
  height: 3px !important;
  border-radius: 0 !important;
}
/* line 21, ../../sources/sass/layout-styles.scss */
nav .navbar-toggle {
  padding: 5px 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

/* line 29, ../../sources/sass/layout-styles.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 34, ../../sources/sass/layout-styles.scss */
.add-margin-right > [class*='pull-left'] {
  margin-right: 15px;
}

/* line 37, ../../sources/sass/layout-styles.scss */
.add-margin-left > [class*='pull-right'] {
  margin-left: 15px;
}

/* line 41, ../../sources/sass/layout-styles.scss */
.site {
  -webkit-overflow-scrolling: touch;
  top: -50px;
}

/* line 46, ../../sources/sass/layout-styles.scss */
.site-header {
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  min-height: 540px;
  margin-top: 50px;
}
/* line 53, ../../sources/sass/layout-styles.scss */
.site-header .custom-header {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
}
/* line 58, ../../sources/sass/layout-styles.scss */
.site-header .custom-header .custom-header-media {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 64, ../../sources/sass/layout-styles.scss */
.site-header .custom-header .custom-header-media-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 71, ../../sources/sass/layout-styles.scss */
.site-header .custom-header .site-branding {
  position: relative;
  width: 100%;
  min-height: 100px;
  top: 50%;
  margin-top: -50px;
}
/* line 79, ../../sources/sass/layout-styles.scss */
.site-header .custom-header .site-branding .site-title {
  color: #fff;
}
/* line 82, ../../sources/sass/layout-styles.scss */
.site-header .custom-header .site-branding .site-description {
  color: #fff;
}

/* line 91, ../../sources/sass/layout-styles.scss */
.site-breadcrumb .breadcrumb {
  margin: 50px 0 0;
  padding: 10px 0;
  height: 40px;
  background-color: transparent;
  border: 1px #333;
}
/* line 98, ../../sources/sass/layout-styles.scss */
.site-breadcrumb .breadcrumb li {
  color: #666 !important;
}
/* line 102, ../../sources/sass/layout-styles.scss */
.site-breadcrumb .breadcrumb li.active {
  color: #333 !important;
}
/* line 106, ../../sources/sass/layout-styles.scss */
.site-breadcrumb .breadcrumb li > a {
  color: #000 !important;
}

/* line 112, ../../sources/sass/layout-styles.scss */
.site-subheader {
  position: relative;
  width: 100%;
  min-height: 50px;
}
/* line 117, ../../sources/sass/layout-styles.scss */
.site-subheader .site-subheader-text1 {
  margin: 15px 15px;
  line-height: 20px !important;
}
/* line 122, ../../sources/sass/layout-styles.scss */
.site-subheader .site-subheader-text2 {
  margin: 15px 0;
  line-height: 20px !important;
}

/* line 128, ../../sources/sass/layout-styles.scss */
.page-subtitle {
  margin-top: 40px;
}

/* line 130, ../../sources/sass/layout-styles.scss */
.jumbotron {
  /*
  padding-top: 48px;
  padding-bottom: 48px;
  */
  background-color: cadetblue;
}
/* line 137, ../../sources/sass/layout-styles.scss */
.jumbotron .page-header {
  /*
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
  */
  border-bottom: none;
}
/* line 145, ../../sources/sass/layout-styles.scss */
.jumbotron .page-header h1 {
  font-size: 5.4em;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 150, ../../sources/sass/layout-styles.scss */
.jumbotron .page-header p {
  font-size: 2em;
  color: #fff;
}
/* line 154, ../../sources/sass/layout-styles.scss */
.jumbotron .page-header img {
  /*max-width: 32px;*/
}

/* line 161, ../../sources/sass/layout-styles.scss */
.carousel .slide1 {
  background-image: url(http://lorempixel.com/1080/720/);
  height: 500px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
/* line 168, ../../sources/sass/layout-styles.scss */
.carousel .carousel-opacity-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 175, ../../sources/sass/layout-styles.scss */
.carousel .carousel-caption {
  /*position: absolute;
  left: 15%;
  right: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);*/
  bottom: 50%;
  margin-bottom: -150px;
  text-align: left;
}
/* line 188, ../../sources/sass/layout-styles.scss */
.carousel .carousel-caption h1 {
  font-size: 5.4em;
}
/* line 191, ../../sources/sass/layout-styles.scss */
.carousel .carousel-caption p {
  font-size: 2em;
}

/**
* Page Sections
**/
/* line 200, ../../sources/sass/layout-styles.scss */
.section {
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  /**
  *  TEMPLATE BLOCKS
  **/
}
/* line 210, ../../sources/sass/layout-styles.scss */
.section.section__block--notitle {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
/* line 215, ../../sources/sass/layout-styles.scss */
.section.section__block--title {
  padding-top: 70px !important;
  padding-bottom: 0 !important;
}
/* line 220, ../../sources/sass/layout-styles.scss */
.section.section__block--first {
  padding-top: 0 !important;
  padding-bottom: 40px !important;
}
/* line 226, ../../sources/sass/layout-styles.scss */
.section.section__block--body {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
