/**
* Page Layout
**/
/* line 6, ../../sources/sass/layout-styles.scss */
nav {
  top: 40px;
  position: relative;
  z-index: 9999 !important;
  width: 100% !important;
}
/* line 12, ../../sources/sass/layout-styles.scss */
nav .logo {
  font-size: 14px;
}
/* line 16, ../../sources/sass/layout-styles.scss */
nav .navbar-toggle .icon-bar {
  width: 36px !important;
  height: 3px !important;
  border-radius: 0 !important;
}
/* line 21, ../../sources/sass/layout-styles.scss */
nav .navbar-toggle {
  padding: 5px 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

/* line 29, ../../sources/sass/layout-styles.scss */
main {
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  position: relative;
  top: -50px;
}

/* line 36, ../../sources/sass/layout-styles.scss */
div.header {
  -webkit-overflow-scrolling: touch;
  height: 90vh;
  position: relative;
  padding-top: 140px;
}

/**
* Page Sections
**/
/* line 47, ../../sources/sass/layout-styles.scss */
.section {
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  /**
  *  TEMPLATE BLOCKS
  **/
}
/* line 57, ../../sources/sass/layout-styles.scss */
.section.section__block--notitle {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
/* line 62, ../../sources/sass/layout-styles.scss */
.section.section__block--title {
  padding-top: 70px !important;
  padding-bottom: 0 !important;
}
/* line 67, ../../sources/sass/layout-styles.scss */
.section.section__block--first {
  padding-top: 0 !important;
  padding-bottom: 40px !important;
}
/* line 73, ../../sources/sass/layout-styles.scss */
.section.section__block--body {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
