/****************************
* Theme Styles
****************************/
body {
  background-color: #FFFFFF;
}

.logo {
  color: #666666 !important;
}

a {
  color: #666666 !important;
}

a:hover, a:focus, a:active {
  color: #666666 !important;
}

.section {
  /**
  *  TEMPLATE COLOR
  **/
}
.section.section__template--normal {
  background-color: #FFFFFF;
}
.section.section__template--normal header {
  color: #333333;
  border-bottom: 1px dotted #666666;
}
.section.section__template--normal h2 {
  color: #333333;
}
.section.section__template--normal h3 {
  color: #666666;
}
.section.section__template--normal h4 {
  color: #333333;
}
.section.section__template--normal h5 {
  color: #333333;
}
.section.section__template--normal h6 {
  color: #666666;
}
.section.section__template--normal p {
  color: #333333;
}
.section.section__template--normal ul {
  color: #333333;
}
.section.section__template--normal ul li {
  color: #333333;
}
.section.section__template--normal ul li a {
  color: #666666 !important;
}
.section.section__template--normal a {
  color: #666666 !important;
}
.section.section__template--normal a:hover, .section.section__template--normal a:focus, .section.section__template--normal a:active {
  color: #666666 !important;
}
.section.section__template--alternate {
  background-color: #333333;
}
.section.section__template--alternate header {
  color: #FFFFFF;
  border-bottom: 1px dotted #666666;
}
.section.section__template--alternate h2 {
  color: #FFFFFF;
}
.section.section__template--alternate h3 {
  color: #FFFFFF;
}
.section.section__template--alternate h4 {
  color: #FFFFFF;
}
.section.section__template--alternate h5 {
  color: #FFFFFF;
}
.section.section__template--alternate h6 {
  color: #666666;
}
.section.section__template--alternate p {
  color: #FFFFFF;
}
.section.section__template--alternate ul {
  color: #FFFFFF;
}
.section.section__template--alternate ul li {
  color: #FFFFFF;
}
.section.section__template--alternate ul li a {
  color: #666666 !important;
}
.section.section__template--alternate a {
  color: #666666 !important;
}
.section.section__template--alternate a:hover, .section.section__template--alternate a:focus, .section.section__template--alternate a:active {
  color: #666666 !important;
}
